
*{
    font-family: "DM Sans", sans-serif;
}
body{
    background-color: #E9EDF2 !important;
}
label{
    color: #2B3674;
}
h2{
    color:#2B3674 !important;
}
.card , .footer{
    border-radius: 20px !important;
}
.upload{
    padding: 10px 0px 0px 0px;
    border:dashed #B2BAD0;
    border-radius: 13px;
    background-color: #FAFCFE;
}
i{
    font-size: 30px;
}
.box_box{
    width: 92px;
    border-radius:15px ;
    height: 50px;
    text-align: center;
    border: 1px solid#B6BBC7;
}
.form-label::after{
    content: '*';
    color: red;
}
.form-check-label{
    font-size: 14px;
}
input#exampleColorInput {
    width: auto;
    border-radius: 11px;
}
input{
    border-radius: 12px;
}
.form-control:focus , .form-select:focus , .form-check-input:focus{
    box-shadow: none !important;
    border-color: #4318FF !important;
    /* border: none !important; */
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance : none;
    background : #4318FF !important;
    box-shadow: none !important;
    /* border: none !important; */
  }
  input[type=radio]:checked , input[type=checkbox]:checked{
    border: none;
  }
.form-check-input:checked{
    background-color: #4318FF !important;
    border-color: none;
}
.btn_cancel{
   background-color: #FAF9FF !important;
   color: #2B3674 !important;
   border: 1px solid transparent !important;

}
.btn-primary{
    background-color: #4318FF !important;
}
.btn{
    gap: 5px;
}
.footer{
    width: 102%;
}
.form-control , .form-select{
    /* margin-bottom: 10px; */
    padding: 8px !important;
    border-radius: 15px !important;
}
.form-control-color{
    border: 1px solid #B6BBC7;
}
.card h2{
    margin-bottom: 20px !important;
    font-size: 22px;
    font-weight: 700;
}
.btn{
    border-radius: 13px !important;
}
.container{
    padding: 0px !important;
}
.card{
    margin-top: 16px !important;
    margin-bottom: 20px !important;
}
.upload i , .upload span{
    color: #4318FF;
}
.color1{
    color: #8F9BBA;
}
.change{
    width: 77px !important;
    height: 49px !important;
}